.Weather {
  border: 1px solid #1c0c59;
  border-radius: 2%;
  color: #1c0c59;
  padding: 30px;
}

.Weather .searchbar {
  border: 2px solid #f6eb9a;
  border-radius: 5px;
  height: 40px;
  width: 250px;
  margin: 0 20px 20px 0;
}
.Weather .searchbar:focus {
  border-color: #5853bc;
  outline: none;
}
.Weather .searchbutton {
  margin-bottom: 20px;
}
.Weather .searchbutton,
.currentButton {
  border-color: #f6eb9a;
  border-radius: 5px;
  background-color: transparent;
}

.Weather .searchbutton:focus,
.currentButton:focus {
  border-color: #5853bc;
  outline: none;
}
.Weather .dateTime {
  border: 1px solid #f6eb9a;
  border-radius: 5px;
  padding: 2% 0;
}
.Weather .mainWeatherCard {
  border-color: #f6eb9a;
  margin: 3% auto;
}
.Weather .currentCity {
  font-size: 40px;
  margin-top: 8px;
  text-align: center;
}
.Weather .weatherDetails {
  font-size: 20px;
  margin: 20px 0 0 20px;
  opacity: 0.8;
}

.Weather .skyDescription {
  font-size: 20px;
  margin-top: 10px;
}
.Weather .tempBox {
  font-size: 30px;
  margin-top: 8px;
}
.Weather .temperature {
  font-size: 40px;
}
.Weather .feelsLikeTemperature {
  font-size: 17px;
  opacity: 0.8;
}

.Weather .otherCities {
  border: 1px solid #f6eb9a;
  border-radius: 5px;
  font-size: 20px;
  margin: 3% auto;
  padding: 1% 0 1% 0;
}
.Weather a {
  text-decoration: none;
  color: #443eb4;
}
.Weather a:hover {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .Weather .form {
    margin-left: 90px;
  }
}
